---
extends: default

rules:
  document-start: disable
  line-length:
    max: 150
    level: warning
  truthy:
    allowed-values: ["true", "false", "on", "off", "yes", "no"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  indentation:
    spaces: consistent
    indent-sequences: consistent
    check-multi-line-strings: false
